@model Irimies_Mircea_Proiect_Medii_de_Programare.Models.Conferinta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Conferinta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConferintaID" />
            <div class="form-group">
                <label asp-for="nume_divizie" class="control-label"></label>
                <input asp-for="nume_divizie" class="form-control" />
                <span asp-validation-for="nume_divizie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
